@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.main--active{
  background-color: black;
  display: none;
}
.header--active{
  display: none;
}
.header{
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;   
  background-color: white;
  &__up{
    width:100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5vh;
    margin-top: 2vh;
    background-color: white;
    margin: 0;
    &--img{
   
    }
    // &--input{
    //   height: 30px;
    //   width: 230px;
    //   position: absolute;
    //   margin: 400px auto;
    // }
    &--log-in{
      height: 30px;
      position: absolute;
      cursor: pointer;
      background: $violet;
      border: none;
      right: 11vw;
      
    }
    &--button{
      height: 30px;
      position: absolute;
      right: 8vw;
      cursor: pointer;
      background: $violet;
      border: none;
    }
    &--trolley{
      position: absolute;
      right: 5vw;
      height: 30px;
      cursor: pointer;
      background: transparent;
      border: 2px solid wheat;
    }
  }
  .hamburger{
    display: none;
    position: absolute;
    left: 5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &__box{
      width: 30px;
      height: 30px;
      position: relative;
      display: inline-block;
      &--item{
        @include hamburger;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
 .hamburger__box--item::after,
 .hamburger__box--item::before{
  @include hamburger;
   content: '';
   transition: transform .2s ease-in-out;
 }
 .hamburger__box--item::after{
   top: -10px;
 }
 .hamburger__box--item::before{
   top: 10px;
 }
 .hamburger--active{
   position: absolute;
   left: 250px;
 }
 .hamburger--active 
 .hamburger__box--item{
   background-color: transparent;
 }
 .hamburger--active 
 .hamburger__box--item::after{
   transform: translateY(10px) rotate(45deg);
 }
 .hamburger--active 
 .hamburger__box--item::before{
   transform: translateY(-10px) rotate(-45deg);
 }

}
.nav{
  height: 100vh;
  width: 250px;
  background-color: $violet;
  color: wheat;
  // margin-top:87vh;
  transform: translateX(-0px);
  position: absolute;
  left: 0; 
  top: 0;
  transition: transform .2s ease-in-out;
  &__item{
    list-style: none;
    font-size: 1.3em;
    margin: 4vh auto;
  }
  &__item--small{
    list-style: none;
    margin: 2vh auto;
    font-size: .9em;
  }
}
.nav--active{
  transform: translateX(-250px);
  z-index: 4;
  // display: none;
}
.header__up--trolley-active{
  position: fixed;
  right: 30vw;
}
.articles{
  width: 30vw;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  border: 1px solid bisque;
     &__header{
       display: block;
       z-index: 2;
       position: absolute;
       top: 0;
     }
  // &__hamburger{
  // position: absolute;
  // background-color: transparent;
  // border: none;
  // cursor: pointer;
  // right: 10px;
  // top: 10px;
  // }
  // &__box{
  // width: 30px;
  // height: 30px;
  // position: relative;
  // display: inline-block;
  // top: 5px;
  // &--item{
  // @include hamburger;
  // background-color: transparent;
  // }
  // }
  &__skip{
    width: 250px;
    height: 60px;
    background-color: grey;
    border: none;
    position: absolute;
    margin: auto;
  }
}
.articles--active{
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .articles__box--item::after{
//   content:'';
//   transition: transform .2s ease-in-out;
//   @include hamburger;
//   position: absolute;
//   background-color: aqua;
//   transform: translateY(10px) rotate(45deg);
// }
// .articles__box--item::before{
//   content:'';
//   transition: transform .2s ease-in-out;
//   @include hamburger;
//   position: absolute;
//   background-color: aqua;
//   transform: translateY(10px) rotate(-45deg);
// }



.menu{
  width: 100%;
  height: 8vh;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  &__list{
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
&__item{
  list-style: none;
  &--text{
    text-decoration: none;
  }
}
}
.options{
  width: 100%;
  height: 50vh;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  &__group{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.shop{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  &__item{
    width: 22vw;
    height: 45vh;
    margin: 1vh 1vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    &--description{
      padding: .5vw;
    }
    &--price{
      padding: .5vw;
    }
    &--avaliable{
      padding: .5vw;
      cursor: pointer;
    }
    &--unavaliable{
      padding: .5vw;
      cursor: pointer;
      display: none;
    }
  }
  &__sort{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1000;
  }
}

.footer{
  height: 30vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid white;
  margin-top: 5vh;
  &__info{
    @include footer;
    &--text{
      margin: 2px;
    }
  }
  &__about{
    @include footer;
    &--text{
      margin: 2px;
    }
  }
  &__socials{
    @include footer;
    &--text{
      margin: 2px;
    }
  }
}
//PRODUCT.HTML
.product{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
//TROLLEY.HTML
.order__header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.order__options{
  display: flex;
  flex-direction: row;
  &--item{
    margin-right: 5vw;
    padding: 1vw;
    border-bottom: 5px solid black;
  }
}
.order{
  width:98%;
  min-height: 20vh;
  margin: auto;
  background-color: red;
  &__empty{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: rgb(182, 152, 152);
  }
  &__about{
    &--details{
      border-bottom: 1px solid black;
      display: grid;
      grid-template-columns: 40vw 10vw 10vw 10vw;
      &-item{
        margin: auto;
      }
    }
    &--product{
      border-bottom: 1px solid black;
      height: 20vh;
      display: grid;
      grid-template-columns: 20vw 20vw 10vw 10vw 10vw 2vw;
      &-item{
        max-width: 10vw;
        margin: auto;
        display:table-cell;
        vertical-align:middle;
      }
    }
  }
}