@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
button{
  cursor: pointer;
}
.main--active{
  background-color: black;
  display: none;
}
.header--active{
  display: none;
}
.header{
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;   
  background-color: white;
  &__up{
    width:100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5vh;
    margin-top: 2vh;
    background-color: white;
    margin: 0;
    // &--input{
    //   height: 30px;
    //   width: 230px;
    //   position: absolute;
    //   margin: 400px auto;
    // }
    &--log{
      height: 40px;
      width: 40px;
      position: absolute;
      cursor: pointer;
      background: none;
      border: none;
      right: 8vw;
      top: 5vh;
      @include center;
      &-icon{
        width: 100%;
        height: 100%;
      }
    }
    // &--button{
    //   height: 30px;
    //   position: absolute;
    //   right: 8vw;
    //   cursor: pointer;
    //   background: $violet;
    //   border: none;
    // }
    &--trolley{
      position: absolute;
      right: 5vw;
      height: 40px;
      width: 40px;
      background: none;
      border: none;
      z-index: 3;
      top: 5vh;
      @include center;
      &-icon{
        width: 100%;
        height: 100%;
      }
    }
  }
  .hamburger{
    display: none;
    position: absolute;
    left: 5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &__box{
      width: 30px;
      height: 30px;
      position: relative;
      display: inline-block;
      &--item{
        @include hamburger;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
 .hamburger__box--item::after,
 .hamburger__box--item::before{
  @include hamburger;
   content: '';
   transition: transform .2s ease-in-out;
 }
 .hamburger__box--item::after{
   top: -10px;
 }
 .hamburger__box--item::before{
   top: 10px;
 }
 .hamburger--active{
   position: absolute;
   left: 250px;
 }
 .hamburger--active 
 .hamburger__box--item{
   background-color: transparent;
 }
 .hamburger--active 
 .hamburger__box--item::after{
   transform: translateY(10px) rotate(45deg);
 }
 .hamburger--active 
 .hamburger__box--item::before{
   transform: translateY(-10px) rotate(-45deg);
 }

}
.nav{
  height: 100vh;
  width: 250px;
  background-color: $violet;
  color: wheat;
  // margin-top:87vh;
  transform: translateX(-0px);
  position: absolute;
  left: 0; 
  top: 0;
  transition: transform .2s ease-in-out;
  &__item{
    list-style: none;
    font-size: 1.3em;
    margin: 4vh auto;
  }
  &__item--small{
    list-style: none;
    margin: 2vh auto;
    font-size: .9em;
  }
}
.nav--active{
  transform: translateX(-250px);
  // z-index: 2;
  // display: none;
}
.header__up--trolley-active{
  position: fixed;
  margin-top: -1.5vh;
  margin-right: 21vw;
  z-index: 10;
}
.articles{
  width: 30vw;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  display: none;
  border: 1px solid bisque;
     &__header{
       display: block;
       z-index: 2;
       position: absolute;
       top: 0;
     }
  // &__hamburger{
  // position: absolute;
  // background-color: transparent;
  // border: none;
  // cursor: pointer;
  // right: 10px;
  // top: 10px;
  // }
  // &__box{
  // width: 30px;
  // height: 30px;
  // position: relative;
  // display: inline-block;
  // top: 5px;
  // &--item{
  // @include hamburger;
  // background-color: transparent;
  // }
  // }
  &__skip{
    width: 20vw;
    height: 6vh;
    background-color: blue;
    border: none;
    position: absolute;
    margin: 20vw 0;
    &--link{
      list-style: none;
      text-decoration: none;
      color: white;
    }
  }
}
.others{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-content: center;
  padding: 10px;
  &__search{
    // @include center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    &--input{
      border: none;
      border-bottom: 1px solid black;
      height: 40px;
      width: 24vw;
    }
    &--button{
      height: 40px;
      width: 40px;
      background: none;
      border: none;
      @include center;
      &-icon{
        width: 100%;
        height: 100%;
      }
    }
    &--filters{
      width: 23vw;
      background-color: black;
      color: white;
      border:none;
      height: 7vh;
      cursor: pointer;
    }
  }
}
.articles--active{
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .articles__box--item::after{
//   content:'';
//   transition: transform .2s ease-in-out;
//   @include hamburger;
//   position: absolute;
//   background-color: aqua;
//   transform: translateY(10px) rotate(45deg);
// }
// .articles__box--item::before{
//   content:'';
//   transition: transform .2s ease-in-out;
//   @include hamburger;
//   position: absolute;
//   background-color: aqua;
//   transform: translateY(10px) rotate(-45deg);
// }



.menu{
  width: 100%;
  height: 8vh;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  &__list{
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
&__item{
  list-style: none;
  &--text{
    text-decoration: none;
  }
  &--text:hover{
    color: blue;
    cursor: pointer;
    transform: translate;
  }
}
}
.options{
  position: absolute;
  z-index: 1;
  // top: -70vh;
  width: 100%;
  min-height: 40vh;
  margin-top: -200vh;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  transition: translateY(70vh);
  &__group{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &--item{
      text-decoration: none;
      list-style: none;
    }
  }
}
.options__producent--active{
  transform: translateY(200vh);
}
.page{
  @include center;
  &__skip{
    font-weight: bold;
    padding: 10px;
  }
  &__input{
    width: 2vw;
    text-align: center;
  }
}
.shop{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  &__item{
    width: 22vw;
    height: 45vh;
    margin: 1vh 1vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(204, 185, 185);
    &--img{
      height: 25vh;
      width: 100%;
    }
    &--description{
      margin-bottom: 1vh;
    }
    &--price{
      margin-bottom: .5vh;
    }
    // &--avaliable{
    //   padding: .5vw;
    //   cursor: pointer;
    // }
  }
  &__sort{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1000;
    display: none;
    align-items: center;
    flex-direction: column;
    
    // &--button{
    //   width: 25vw;
    //   background-color: black;
    //   color: white;
    //   border:none;
    //   height: 7vh;
    // }
    &--item{
      border-bottom: 1px solid black;
      width: 100%;
      padding: 10px;
    
    }
    }
}
.shop__sort-active{
  display: flex;
}
// .others__search--filters-active{
//   background-color: red;
// }
.footer{
  min-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid white;
  margin-top: 5vh;
  &__info{
    @include footer;
    &--text{
      margin: 2px;
    }
    &--link{
      text-decoration: none;
      color: black;
    }
    &--link:hover{
      color: blue;
    }
  }
  &__about{
    @include footer;
    &--text{
      margin: 2px;
    }
    &--link{
      text-decoration: none;
      color: black;
    }
  }
  &__socials{
    @include footer;
    &--text{
      margin: 2px;
    }
    &--link{
      text-decoration: none;
      color: black;
    }
    &--box{
      height: 40px;
      @include center;
      flex-direction: row;
      &-icon{
      height: 80%;
      width: 40px;
      padding: 2px;
      }
    }
  }
}
.info{
  width: 100%;
  @include center;
  flex-direction: column;
  padding: 2vw;
  &__header{
    padding: 2vw;
    &--title{
      padding: 2vw;
      border-bottom: 1px solid black;
    }
  }
  &__content{
    width: 90%;
    
  }
}
//PRODUCT.HTML
.product{
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__about{
    &--avaliable{
      border: none;
      background-color: blue;
      color: white;
      width: 25vh;
      height: 7vh;
      cursor: pointer;
    }
  }
}
//TROLLEY.HTML
.order__header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.order__options{
  display: flex;
  flex-direction: row;
  &--item{
    margin-right: 5vw;
    padding: 1vw; 
    &-active{
      border-bottom: 5px solid blue;
    }
  }
}
.order{
  width:98%;
  min-height: 20vh;
  margin: auto;
 
  &__empty{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    
  }
  &__about{
    &--details{
      border-bottom: 1px solid black;
      display: grid;
      grid-template-columns: 40vw 10vw 10vw 10vw;
      &-item{
        margin: auto;
      }
    }
    &--product{
      border-bottom: 1px solid black;
      height: 20vh;
      display: grid;
      grid-template-columns: 20vw 20vw 10vw 10vw 10vw 2vw;
      &-item{
        max-width: 10vw;
        margin: auto;
        display:table-cell;
        vertical-align:middle;
      }
      &-amount{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      &-input{
        width: 2vw;
        text-align: center;
      }
    }
  }
  &__sum{
    width: 30%;
    padding: 10px;
    &--box{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &--price{
      margin-left: 5vw;
      &-all{
        color: blue;
        font-weight: 900;
      }
    }
  }
  &__skip{
    background-color: blue;
    border: none;
    width: 11vw;
    height: 5vh;
  }
}
.log{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__login{
    width: 50%;
    padding: 10px;
    @include center;
    flex-direction: column;
    &--button{
      border: none;
      background-color: blue;
      width: 12vw;
      height: 6vh;
      
    }
  }
  &__register{
    width: 50%;
    padding: 40px;
    &--button{
      background-color: rgb(0, 0, 0);
      color: white;
      border: none;
      width: 17vw;
      height: 6vh;
    }
  }
}
label{
  padding: 10px;
}
.input-log{
  margin-right: 60%;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}